<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统一认证中心</title>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}"/>
    <script th:src="@{/assets/js/login.js}"></script>
</head>

<body>
<div class="container">
    <div class="left-side">
        <div class="left-title">统一认证中心</div>
        <div class="image-container"></div>
    </div>
    <div class="right-side">
        <div class="login-form">
            <div th:if="${error}" class="error-message">
                <span th:text="${error}"></span>
            </div>
            <h1>欢迎回来 👋🏻</h1>
            <p>请输入您的帐户信息</p>
            <form th:action="@{/login}" method="POST">
                <input type="text" id="username" name="username" placeholder="请输入用户名" required>
                <input type="password" id="password" name="password" placeholder="请输入密码" required>
                <div class="code-group">
                    <input type="text" id="code" name="code" placeholder="请输入验证码" required>
                    <img src="" id="code-image" onclick="getVerifyCode()" alt=""/>
                </div>
                <input type="hidden" id="loginType" name="loginType" value="passwordLogin"/>
                <a href="#" class="forgot-password">忘记密码?</a>
                <button type="submit">登录</button>
            </form>

            <!-- <div class="extra-options">
                <button>手机号登录</button>
                <button>扫码登录</button>
            </div> -->

            <div class="social-login">
                <p>其他登录方式</p>
                <button><img th:src="@{/assets/images/wechat.svg}" alt="WeChat"/></button>
                <button><img th:src="@{/assets/images/qq.svg}" alt="QQ"/></button>
                <button>
                    <a th:href="@{/oauth2/authorization/github-idp}">
                        <img th:src="@{/assets/images/github.svg}" alt="Github"/>
                    </a>
                </button>
                <button>
                    <a th:href="@{/oauth2/authorization/google-idp}">
                        <img th:src="@{/assets/images/google.svg}" alt="Google"/>
                    </a>
                </button>
                <button>
                    <a th:href="@{/oauth2/authorization/gitee}">
                        <img th:src="@{/assets/images/gitee.svg}" alt="Gitee"/>
                    </a>
                </button>
                <button>
                    <a th:href="@{/oauth2/authorization/linux-do}">
                        <img th:src="@{/assets/images/linuxdo.png}" alt="linux-do"/>
                    </a>
                </button>
            </div>

            <!-- <div class="signup">
                <p>还没有帐户? <a href="#">创建帐户</a></p>
            </div> -->
        </div>
    </div>
</div>
</body>

</html>